@charset "ISO-8859-1";

body {
    background-image : url("images/light-background-blurred.jpg");
    background-size : cover;
    padding-top : 150px;
}

.center-box {
    margin : auto;
    width : 45%;
    height : 400px;
    position : relative;
}

.center-left {
    height : 88%;
    width : 45%;
    float : left;
    border-top-left-radius : 35px;
    border-bottom-left-radius: 35px;
    margin-top : 25px;
    background-color: #202020;
}

.center-right {
    float : right;
    height : 400px;
    width : 55%;
    background-color: #D3B100;
    border-top-right-radius : 35px;
    border-bottom-right-radius: 35px;
}

#login-title {
    color  :white;
    margin-top  : 60px;
    font-size : 75px;
    text-align : center;
    font-family: 'Noto Sans', sans-serif;
    font-weight : 500;
}

#go-to-home {
    margin-top : 45px;
    color : #0075FF;
    text-align : center;
    text-decoration : underline;
    font-size : 18px;
    font-family: 'Mukta', sans-serif;
}

#forgot-password {
    margin-top : 15px;
    color : #0075FF;
    text-align : center;
    text-decoration : underline;
    font-size : 18px;
    font-family: 'Mukta', sans-serif;
}

#question {
    margin-top : 28px;
    font-family : 'Mukta', sans-serif;
    font-size : 15px;
    text-align : center;
    color : white;
}

#sign-up-link {
    color :  #0075FF;
    text-decoration : underline;
}

#go-to-home:hover, #forgot-password:hover, #sign-up-link:hover {
    cursor: pointer;
}

#go-to-home:visited {
	text-decoration : none;
	color : #0075FF;
}

.center-right-in {
    height : 80%;
    margin : 40px;
    position  : relative;
}

#uname-text {
    text-align : left;
    font-size : 25px;
    font-family: 'Mukta', sans-serif;
}

#uname {
    height : 40px;
    width : 95%;
    margin-top : 20px;
    border : none;
    font-size : 25px;
    padding : 2px;
    color :#616161;
    padding-left : 12px
}

#pword-text {
    text-align : left;
    font-size : 25px;
    font-family: 'Mukta', sans-serif;
    margin-top : 20px;
}

#pword {
    height : 40px;
    width : 95%;
    margin-top : 20px;
    border : none;
    font-size : 25px;
    padding : 2px;
    color :#616161;
    padding-left : 12px;
    font-family: Verdana;
    letter-spacing: 0.125em;
}

#submit-but, #reset-but {
    margin-top : 50px;
    height : 50px;
    width : 45.9%;
    border : none;
    background-color : #181818;
    color : white;
    font-family : 'Mukta', sans-serif;
    font-size : 23px;
}

#reset-but { 
    margin-left : 20px;
}

#submit-but:hover, #reset-but:hover {
    background-color: #272727;
    border : 2px solid;
}
