@charset "ISO-8859-1";

body {
    background-image : url("images/light-background-blurred.jpg");
    background-size  :cover;
}

.center-box {
    margin : auto;
    width : 32%;
    height : 500px;
    background-color: #D3B100;
    margin-top : 80px;
}

.center-top {
    height : 100px;
    background-color: #202020;
    width : 110%;
    margin-left : -25px;
    border-top-left-radius : 25px;
    border-top-right-radius : 25px;
}

#heading {
    font-size : 35px;
    color : white;
    text-align : center;
    padding-top : 30px;
    font-family: 'Noto Sans', sans-serif;
}

.center-middle {
    width : 84%;
    background-color: #D3B100;
    height : 70%;
    margin-left : 40px;
    font-family: 'Comme', sans-serif;
    font-size : 23px;
}

.center-bottom {
    height : 100px;
    background-color: #202020;
    width : 110%;
    margin-left : -25px;
    border-bottom-left-radius : 25px;
    border-bottom-right-radius : 25px;
}

#uname-text {
    padding-top : 20px;
}

#uname {
    margin-top : 12px;
    height : 40px;
    width : 96.3%;
    font-size : 23px;
    padding-left : 10px;
    border : none;
    color : #616161;
}

#submit-but {
    text-align : center;
    width : 40%;
    height : 50px;
    font-size : 25px;
    background-color: #D3B100;
    border : none;
}

#submit-but:hover {
    background-color: #9a8000;
    border : 2px solid black;
}