@charset "ISO-8859-1";

body {
    background-image : url("images/light-background-blurred.jpg");
    background-size : cover;
}

.center-box {
    margin : auto;
    height : 700px;
    width : 40%;
    background-color: #D3B100;
    margin-top : 50px;
    margin-bottom : 200px;
    position : relative;
}

.heading-out {
    background-color: #202020;
    height : 180px;
    width : 110%;
    margin-left : -28px;
    border-top-left-radius : 30px;
    border-top-right-radius : 30px;
}

#heading {
    text-align : center;
    padding-top : 30px;
    color : white;
    font-size : 55px;
    font-family: 'Noto Sans', sans-serif;
    font-weight : 500;
}

.question {
    text-align : center;
    font-size : 16px;
    margin-top : 25px;
    color : white;
    font-family: 'Mukta', sans-serif;
}

#question-link {
    color : #0075FF;
    text-decoration : underline;
}

#question-link:hover {
    cursor : pointer;
}

.center-box-in {
    margin : 45px;
    height : 55%;
    width : 80%;
    overflow-x : hidden;
    overflow-y : auto;
    padding : 20px;
    padding-top : none;
    border-top : 2px solid #9f860d; 
    border-bottom : 2px solid #9f860d;
    border-left : 2px solid #9f860d;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    width : 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  

#uname-text {
    font-size : 25px;
    font-family: 'Comme', sans-serif;
}

#uname {
    border : none;
    width : 96%;
    margin-top : 20px;
    height : 40px;
    font-size : 25px;
    padding-left : 10px;
    padding-right : 10px;
    margin-bottom : 30px;
    color : #616161;
}

#pword {
    border : none;
    width : 96%;
    margin-top : 20px;
    height : 40px;
    font-size : 25px;
    padding-left : 10px;
    padding-right : 10px;
    margin-bottom : 30px;
    color : #616161;
    font-family : Verdana;
    letter-spacing : 0.125em;
}

#bottom-box {
    
    background-color: #202020;
    height : 150px;
    width : 110%;
    margin-left : -28px;
    border-bottom-left-radius : 30px;
    border-bottom-right-radius : 30px;
}

#buttons-out {
    width : 80%;
    margin-left : 65px;
    padding-top : 50px;
    text-align : center;
}

#submit-but, #reset-but {
    height : 50px;
    width : 40%;
    border : none;
    font-size : 25px;
    font-family : 'Mukta', sans-serif;
    color : black;
    background-color: #D3B100;
}

#submit-but:hover, #reset-but:hover {
    background-color: #7d6902;
    border : 2px solid black;
}

#submit-but {
    margin-left : 50px;
}
